@import 'styles/main.scss';

.wavez-landing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $white;
  background-color: $brand-black;
  overflow: hidden;

  &__squiggle-container {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  &__squiggle {
    flex: 1;
  }

  &__header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1800px;
    padding: 1rem;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 1;
  }

  &__content-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1800px;
    min-width: 1800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__content-section-main {
    background-image: url('/assets/backgrounds/desktop/Landing Background Image.png');
  }

  &__content-section-music {
    top: -2.75rem;
    background-image: url('/assets/backgrounds/desktop/Music Background Image.png');
  }

  &__content-section-lights {
    top: -5.5rem;
    background-image: url('/assets/backgrounds/desktop/Lights Background Image.png');
  }

  &__content-section-customize {
    top: -13rem;
    background-image: url('/assets/backgrounds/desktop/Customize Background Image.png');
  }

  &__logo {
    width: 600px;
  }

  &__background-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 288px;
    width: 288px;
    border-radius: 100%;
    background-color: $black-opaque-50;
  }

  &__background-circle-main {
    position: absolute;
    bottom: -7rem;
    padding-top: 1rem;
    z-index: 1;
  }

  &__section-title-container {
    position: relative;
  }

  &__section-title {
    position: relative;
    width: 158px;
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__section-background {
    position: absolute;
    bottom: -10px;
    height: 30px;
    width: 158px;
    background-color: $black-opaque-50;
  }
}
