// Add reusable element styles, calculations, etc. utilities here
@mixin header-styles {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 1;
}
