@import '../../styles/main';

// Update root styles here as needed

html,
body,
#root,
.wavez-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
}

#root {
  display: flex;
  flex-direction: column;
  & > :first-child {
    flex: 1;
  }
}

body {
  margin: 0;
}
